/**
 * @file
 * jQuery UI accordion styles
 */

/**
* Start accordion style for our navigation menus.
*/

.ui-helper-reset {
  line-height: 1.5;
}

.ui-accordion .ui-accordion-header {
    padding: 0;
}

//Accordion Item/Entry = Row

.ui-accordion .accordion-row {

// Active/Open Accordion Header/Title
  .ui-state-active,
  .ui-widget-content .ui-state-active,
  .ui-widget-header .ui-state-active {
    border:none;
    border-bottom:solid 3px white;
    background:#e9e9e9;
  }

// Default/Closed Accordion Header/Title
  .ui-state-default,
  .ui-widget-content .ui-state-default,
  .ui-widget-header .ui-state-default {
    border:none;
    background:none;
  }

// Accordion Body
  .block-accordion-menu .ui-accordion-header,
  .ui-accordion-content.ui-accordion-content-active,
  .ui-accordion-content {
    background-color:#e9e9e9;
    border:none;
    padding:1em;
  }

// Accordion Header/Title Link/H2
  .ui-accordion-header a {
    padding:.625em 0 .625em 2.2em;
    h2 {
      font-size:1.17rem;
      margin:0;
    }
  }
}

.accordion-row .ui-accordion .accordion-row p:last-child { margin-bottom:0; }

.accordion-row .ui-accordion ~ .item-list ul.pager { margin-top:.5em; }

.accordion-row .ui-accordion-content a {
  display:inline;
  padding-left: 0;
}

/**
* End accordion style for our navigation menus.
*/

/**
* Start accordion style for accordion views.
*/
.view .ui-accordion .field-content {
  display:inline;
  padding-left:0
}
/**
* End accordion style for accordion views.
*/


