/**
 * @file
 * WWU Brand Colors
 */

$wwuBlue: #003f87;
$wwuLtblue: #0083d6;
$wwuRed: #cc2d30;
$wwuYellow: #ffc61e;
$wwuLime: #bad80a;
$wwuGreen: #006b3f;
$wwuGrayBlue: #4B689C;
$wwuOceanBlue: #0070b6;