/**
* These are the layout styles for the clean-fairhaven panel.
*/
@import "panels";

$zen-auto-include-item-base: false;
$zen-column-count:  12;
$zen-gutter-width:  1.25em;


/* ****************************************************
                Small-size -> 550px
**************************************************** */

@media all and (max-width:550px) {
  $zen-column-count: 1;

  .clean-fairhaven-top-left, // Intro text
  .clean-fairhaven-top-right, // Slideshow
  .clean-fairhaven-middle-left, // Courses
  .clean-fairhaven-middle-center, // Featured Video
  .clean-fairhaven-middle-right, // Calendar
  .clean-fairhaven-bottom-left, // News
  .clean-fairhaven-bottom-right { // Events
    @include zen-grid-item(1,1);
    @include zen-clear();
    margin:0 auto;
    display:block;
  }

  // Center aligns images until they are turned into straight CSS
  /*.clean-fairhaven-top-right, //Intro text
  .clean-fairhaven-top-right, // Slideshow
  .clean-fairhaven-middle-left, // Featured Video
  .clean-fairhaven-middle-center, // Slideshow
  .clean-fairhaven-middle-right { // About the college
      text-align:center;
  }*/
}


/* ****************************************************
            Medium-size 551px <-> 800px
**************************************************** */

@media all and (min-width: 551px) and (max-width: 800px) {
  $zen-column-count: 3;

  .clean-fairhaven-top-left { // Intro text
    @include zen-grid-item(3,1);
  }

  .clean-fairhaven-top-right { // slideshow
    @include zen-grid-item(1.5,1);
    @include zen-clear(both);
    img { padding-top:3em; }
  }
  .clean-fairhaven-middle-left { // Courses
    @include zen-grid-item(1.5,2.5);
  }

  .clean-fairhaven-middle-center { // Featured Video
    @include zen-grid-item(1.5,1);
    @include zen-clear(both);
  }
  .clean-fairhaven-middle-right { // Calendar
    @include zen-grid-item(1.5,2.5);
  }

  .clean-fairhaven-bottom-left, .clean-fairhaven-bottom-right { // News and Events
    @include zen-grid-item(3,1);
    @include zen-clear(both);
  }
}

/* ****************************************************
                Screen 801px ->
**************************************************** */

@media all and (min-width:801px) {
  $zen-column-count: 12;

  .clean-fairhaven-top-left { // Intro text
    @include zen-grid-item(6,1);
  }
  .clean-fairhaven-top-right { // Slideshow
    @include zen-grid-item(6,7);
    img { display:block; margin:0 auto; }
  }
  .clean-fairhaven-middle-left { // Courses
    @include zen-grid-item(3.9,1);
    @include zen-clear(both);
  }
  .clean-fairhaven-middle-center { // Featured video
    @include zen-grid-item(3.8,5.1);
  }
  .clean-fairhaven-middle-right { // Calendar
    @include zen-grid-item(3.9,9.1);
  }
  .clean-fairhaven-bottom-left { // News
    @include zen-grid-item(6,1);
    @include zen-clear(both);
  }
  .clean-fairhaven-bottom-right { // Events
    @include zen-grid-item(5.9,7.1); // Compensate for lack of gutter
  }
}

// /////////////////////////////////////////////
//        Styling for panel editor view

#page-manager-edit {
  .clean-fairhaven-top-left,
  .clean-fairhaven-top-right,
  .clean-fairhaven-middle-left,
  .clean-fairhaven-middle-center,
  .clean-fairhaven-middle-right,
  .clean-fairhaven-bottom-left,
  .clean-fairhaven-bottom-right {
    display:inline-block;
  }
  .clean-fairhaven-top-left {
    width:48%;
  }

  .clean-fairhaven-top-right {
    width:48%;
  }

  .clean-fairhaven-middle-left {
    width:32%;
  }

  .clean-fairhaven-middle-center {
    width:32%;
  }

  .clean-fairhaven-middle-right {
    width:32%;
  }

  .clean-fairhaven-bottom-left {
    width:48%;
  }

  .clean-fairhaven-bottom-right {
    width:48%;
  }
}
