/**
* These are the layout styles for the Clean 2x2 panel.
*/

@import "panels";

$display-small: 320px;
$display-medium: 600px;
$display-large: 900px;

@media all {
	.clean-2x2-container {
		@include zen-grid-container();
		$zen-column-count: 1;
		$zen-gutter-width: 24px;

		.clean-2x2 {
			@include zen-grid-item(1, 1);
			padding-left: 0;
			padding-right: 0;
		}
	}

	.clean-2x2 {
		padding-left: 0;
		padding-right: 0;
	}
}

@media all and (min-width: $display-small) {

}

@media all and (min-width: $display-medium) {
	.clean-2x2-container {
		$zen-column-count: 2;

		.clean-2x2-left {
			@include zen-grid-item(1, 1);
			padding-left: 0;
		}

		.clean-2x2-right {
			@include zen-grid-item(1, 2);
			padding-right: 0;
		}
	}
}

@media all and (min-width: $display-large) {

}
